#Portfolio-bg{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 60vw;
    max-width: 60%;
    padding: 0 0 0 0;
}

#portfolio-entry-container {
    width: 280px;
    height: 280px;
    margin: 0 5px 5px 0;
}

@media only screen and (max-width: 600px){
    
    #portfolio-entry-container {
        margin: 0 0 5px 0;
    }
     
}

#portfolio-background {
    background-color: black;
    width: 100vw;
    max-width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#portfolio-title{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-bottom: 5vh;
    max-width: 100%;
}

.container-port {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 280px;
    height: 280px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    visibility: hidden;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #middle-title {
    margin-bottom: 30%;
    background-color: rgba(0,0,0,0);
  }

  
  .container-port:hover .image {
    opacity: 0.2;
  }
  
  .container-port:hover .middle {
    visibility: visible;
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
  }

  a{
      text-decoration: none;
  }

  #code-link {
      color: white;
      background-color: rgb(76, 107, 175);
      padding: 16px 32px;
  }

  #middle-skills {
    margin-bottom: 30%;
  }