#Portfolio-bg{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    width: 60vw;
    padding: 0;
}

#portfolio-entry-container {
    max-width: 280px;
    width: 280px;
    height: 280px;
    margin: 0 5px 5px 0;
}

#portfolio-background {
    background-color: black;
    max-width: 100%;
}

#portfolio-title{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}