/*CSS stylesheet for the about component*/

.about-me-description {
    font-size: large;
    align-self: center;
}

#about-me-bg {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 50vh;
    padding: 0 0 0 0;
    max-width: 100%;
}