#contact-bg {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: black;
    justify-content: center;
    align-content: center;
}

#contact-container {
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.contact-media {
    margin: 2%;
}

@media only screen and (max-width:600px){
    .contact-media {
        margin: 4%;
    }
}

#contact-title {
    text-align: center;
    color: white;
    margin-bottom: 5vh;
}